//////////  Button  //////////////////////////
/* Style the links inside the sidenav */
#mySideBtn a {
    position: fixed; /* Position them relative to the browser window */
    left: -27px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 40px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 22px; /* Increase font size */
    color: #ffffff; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
    z-index: 2;
}

#mySideBtn a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#sidebtn {
    top: 100px;
    text-align: end;
    background-color: #d50202;
    i {
      color: white;
    }
}
/////////////////  /Button  ///////////////////////////

/* The side navigation menu */
.sidenav {
    height: 100%;
    font-size: 20px;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 200px; /* Place content 180px from the top */
    transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    i {
      transition: .10s;
      color: #818181;
    }

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
  i {
    color: red;
  }
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    //padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidebar_nav {
    list-style: none;
}
